## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
drop_columns = ['EIN', 'NAME']
application_drop_columns_df = application_df.drop(columns=drop_columns)
application_drop_columns_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
application_drop_columns_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
value_counts = application_drop_columns_df['APPLICATION_TYPE'].value_counts()
value_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = value_counts[value_counts < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_drop_columns_df['APPLICATION_TYPE'] = application_drop_columns_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_drop_columns_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_value_counts = application_drop_columns_df['CLASSIFICATION'].value_counts()
classification_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_value_counts[classification_value_counts < 1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_drop_columns_df['CLASSIFICATION'] = application_drop_columns_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_drop_columns_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_drop_columns_df, drop_first=True)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,False,True,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
4,1,142590,1,False,False,True,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False

In [ ]:
# Split our preprocessed data into our features and target arrays
y = application_dummies["IS_SUCCESSFUL"].values
X = application_dummies.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.Input(shape=(number_input_features,)))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"

 Layer (type)                          Output Shape                         Param #

 dense_8 (Dense)                       (None, 100)                            3,700

 dense_9 (Dense)                       (None, 40)                             4,040

 dense_10 (Dense)                      (None, 30)                             1,230

 dense_11 (Dense)                      (None, 1)                                 31

 Total params: 9,001 (35.16 KB)

 Trainable params: 9,001 (35.16 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=150)

Epoch 1/150
804/804  4s 3ms/step - accuracy: 0.7043 - loss: 0.5871
Epoch 2/150
804/804  2s 3ms/step - accuracy: 0.7327 - loss: 0.5512
Epoch 3/150
804/804  4s 5ms/step - accuracy: 0.7310 - loss: 0.5508
Epoch 4/150
804/804  4s 3ms/step - accuracy: 0.7323 - loss: 0.5519
Epoch 5/150
804/804  2s 1ms/step - accuracy: 0.7317 - loss: 0.5541
Epoch 6/150
804/804  1s 1ms/step - accuracy: 0.7307 - loss: 0.5500
Epoch 7/150
804/804  1s 2ms/step - accuracy: 0.7326 - loss: 0.5512
Epoch 8/150
804/804  3s 2ms/step - accuracy: 0.7312 - loss: 0.5491
Epoch 9/150
804/804  2s 1ms/step - accuracy: 0.7359 - loss: 0.5478
Epoch 10/150
804/804  1s 2ms/step - accuracy: 0.7341 - loss: 0.5445
Epoch 11/150
804/804  1s 1ms/step - accuracy: 0.7350 - loss: 0.5475
Epoch 12/150
804/804  1s 1ms/step - accuracy: 0.7322 - loss: 0.5474
Epoch 13/150
804/804  1s 2ms/step - accuracy: 0.7360 - loss: 0.5430
Epoch 14/150
804/804  2s 1ms/step - accuracy: 0.7340 - loss: 0.5454
Epoch 15/150
804/804  2s 2ms/step - accuracy: 0.7402 - loss: 0.5432
Epoch 16/150
804/804  2s 1ms/step - accuracy: 0.7323 - loss: 0.5513
Epoch 17/150
804/804  1s 1ms/step - accuracy: 0.7353 - loss: 0.5464
Epoch 18/150
804/804  1s 2ms/step - accuracy: 0.7419 - loss: 0.5404
Epoch 19/150
804/804  2s 1ms/step - accuracy: 0.7368 - loss: 0.5435
Epoch 20/150
804/804  1s 1ms/step - accuracy: 0.7416 - loss: 0.5373
Epoch 21/150
804/804  1s 2ms/step - accuracy: 0.7372 - loss: 0.5431
Epoch 22/150
804/804  2s 2ms/step - accuracy: 0.7399 - loss: 0.5413
Epoch 23/150
804/804  2s 2ms/step - accuracy: 0.7408 - loss: 0.5394
Epoch 24/150
804/804  2s 1ms/step - accuracy: 0.7369 - loss: 0.5428
Epoch 25/150
804/804  1s 1ms/step - accuracy: 0.7366 - loss: 0.5419
Epoch 26/150
804/804  1s 1ms/step - accuracy: 0.7401 - loss: 0.5377
Epoch 27/150
804/804  1s 1ms/step - accuracy: 0.7420 - loss: 0.5398
Epoch 28/150
804/804  1s 1ms/step - accuracy: 0.7408 - loss: 0.5402
Epoch 29/150
804/804  2s 2ms/step - accuracy: 0.7350 - loss: 0.5426
Epoch 30/150
804/804  1s 2ms/step - accuracy: 0.7412 - loss: 0.5406
Epoch 31/150
804/804  2s 1ms/step - accuracy: 0.7395 - loss: 0.5392
Epoch 32/150
804/804  1s 2ms/step - accuracy: 0.7386 - loss: 0.5415
Epoch 33/150
804/804  1s 1ms/step - accuracy: 0.7407 - loss: 0.5419
Epoch 34/150
804/804  1s 1ms/step - accuracy: 0.7390 - loss: 0.5396
Epoch 35/150
804/804  1s 1ms/step - accuracy: 0.7404 - loss: 0.5366
Epoch 36/150
804/804  1s 1ms/step - accuracy: 0.7419 - loss: 0.5361
Epoch 37/150
804/804  2s 2ms/step - accuracy: 0.7365 - loss: 0.5392
Epoch 38/150
804/804  1s 1ms/step - accuracy: 0.7438 - loss: 0.5340
Epoch 39/150
804/804  1s 1ms/step - accuracy: 0.7423 - loss: 0.5357
Epoch 40/150
804/804  1s 1ms/step - accuracy: 0.7337 - loss: 0.5420
Epoch 41/150
804/804  1s 1ms/step - accuracy: 0.7340 - loss: 0.5442
Epoch 42/150
804/804  1s 1ms/step - accuracy: 0.7373 - loss: 0.5405
Epoch 43/150
804/804  1s 1ms/step - accuracy: 0.7416 - loss: 0.5352
Epoch 44/150
804/804  1s 1ms/step - accuracy: 0.7375 - loss: 0.5369
Epoch 45/150
804/804  1s 1ms/step - accuracy: 0.7375 - loss: 0.5446
Epoch 46/150
804/804  2s 2ms/step - accuracy: 0.7434 - loss: 0.5327
Epoch 47/150
804/804  2s 2ms/step - accuracy: 0.7396 - loss: 0.5361
Epoch 48/150
804/804  3s 2ms/step - accuracy: 0.7363 - loss: 0.5400
Epoch 49/150
804/804  1s 1ms/step - accuracy: 0.7426 - loss: 0.5343
Epoch 50/150
804/804  1s 1ms/step - accuracy: 0.7379 - loss: 0.5393
Epoch 51/150
804/804  1s 1ms/step - accuracy: 0.7367 - loss: 0.5401
Epoch 52/150
804/804  1s 2ms/step - accuracy: 0.7354 - loss: 0.5405
Epoch 53/150
804/804  2s 1ms/step - accuracy: 0.7420 - loss: 0.5352
Epoch 54/150
804/804  1s 1ms/step - accuracy: 0.7447 - loss: 0.5355
Epoch 55/150
804/804  1s 2ms/step - accuracy: 0.7356 - loss: 0.5409
Epoch 56/150
804/804  1s 1ms/step - accuracy: 0.7427 - loss: 0.5376
Epoch 57/150
804/804  1s 1ms/step - accuracy: 0.7416 - loss: 0.5333
Epoch 58/150
804/804  1s 2ms/step - accuracy: 0.7338 - loss: 0.5446
Epoch 59/150
804/804  1s 1ms/step - accuracy: 0.7381 - loss: 0.5411
Epoch 60/150
804/804  1s 2ms/step - accuracy: 0.7447 - loss: 0.5310
Epoch 61/150
804/804  2s 1ms/step - accuracy: 0.7363 - loss: 0.5391
Epoch 62/150
804/804  1s 1ms/step - accuracy: 0.7411 - loss: 0.5366
Epoch 63/150
804/804  1s 2ms/step - accuracy: 0.7402 - loss: 0.5367
Epoch 64/150
804/804  1s 2ms/step - accuracy: 0.7436 - loss: 0.5316
Epoch 65/150
804/804  1s 2ms/step - accuracy: 0.7393 - loss: 0.5400
Epoch 66/150
804/804  1s 1ms/step - accuracy: 0.7396 - loss: 0.5362
Epoch 67/150
804/804  1s 1ms/step - accuracy: 0.7396 - loss: 0.5365
Epoch 68/150
804/804  2s 2ms/step - accuracy: 0.7387 - loss: 0.5396
Epoch 69/150
804/804  2s 1ms/step - accuracy: 0.7429 - loss: 0.5320
Epoch 70/150
804/804  1s 2ms/step - accuracy: 0.7407 - loss: 0.5370
Epoch 71/150
804/804  1s 1ms/step - accuracy: 0.7367 - loss: 0.5370
Epoch 72/150
804/804  1s 2ms/step - accuracy: 0.7393 - loss: 0.5357
Epoch 73/150
804/804  2s 1ms/step - accuracy: 0.7354 - loss: 0.5435
Epoch 74/150
804/804  1s 2ms/step - accuracy: 0.7444 - loss: 0.5309
Epoch 75/150
804/804  3s 2ms/step - accuracy: 0.7391 - loss: 0.5373
Epoch 76/150
804/804  2s 1ms/step - accuracy: 0.7401 - loss: 0.5356
Epoch 77/150
804/804  1s 1ms/step - accuracy: 0.7407 - loss: 0.5344
Epoch 78/150
804/804  1s 1ms/step - accuracy: 0.7384 - loss: 0.5389
Epoch 79/150
804/804  1s 2ms/step - accuracy: 0.7383 - loss: 0.5356
Epoch 80/150
804/804  1s 1ms/step - accuracy: 0.7430 - loss: 0.5341
Epoch 81/150
804/804  1s 1ms/step - accuracy: 0.7382 - loss: 0.5402
Epoch 82/150
804/804  2s 2ms/step - accuracy: 0.7412 - loss: 0.5379
Epoch 83/150
804/804  2s 2ms/step - accuracy: 0.7427 - loss: 0.5331
Epoch 84/150
804/804  1s 2ms/step - accuracy: 0.7436 - loss: 0.5311
Epoch 85/150
804/804  2s 1ms/step - accuracy: 0.7434 - loss: 0.5326
Epoch 86/150
804/804  1s 2ms/step - accuracy: 0.7396 - loss: 0.5367
Epoch 87/150
804/804  1s 1ms/step - accuracy: 0.7426 - loss: 0.5335
Epoch 88/150
804/804  1s 1ms/step - accuracy: 0.7449 - loss: 0.5297
Epoch 89/150
804/804  2s 2ms/step - accuracy: 0.7428 - loss: 0.5362
Epoch 90/150
804/804  2s 1ms/step - accuracy: 0.7389 - loss: 0.5377
Epoch 91/150
804/804  1s 2ms/step - accuracy: 0.7417 - loss: 0.5340
Epoch 92/150
804/804  3s 2ms/step - accuracy: 0.7399 - loss: 0.5352
Epoch 93/150
804/804  1s 2ms/step - accuracy: 0.7413 - loss: 0.5361
Epoch 94/150
804/804  2s 1ms/step - accuracy: 0.7406 - loss: 0.5368
Epoch 95/150
804/804  2s 2ms/step - accuracy: 0.7406 - loss: 0.5359
Epoch 96/150
804/804  2s 2ms/step - accuracy: 0.7455 - loss: 0.5344
Epoch 97/150
804/804  1s 1ms/step - accuracy: 0.7426 - loss: 0.5342
Epoch 98/150
804/804  1s 1ms/step - accuracy: 0.7397 - loss: 0.5355
Epoch 99/150
804/804  1s 2ms/step - accuracy: 0.7416 - loss: 0.5326
Epoch 100/150
804/804  3s 2ms/step - accuracy: 0.7404 - loss: 0.5345
Epoch 101/150
804/804  1s 2ms/step - accuracy: 0.7405 - loss: 0.5351
Epoch 102/150
804/804  2s 2ms/step - accuracy: 0.7419 - loss: 0.5347
Epoch 103/150
804/804  2s 1ms/step - accuracy: 0.7436 - loss: 0.5310
Epoch 104/150
804/804  1s 1ms/step - accuracy: 0.7428 - loss: 0.5329
Epoch 105/150
804/804  1s 2ms/step - accuracy: 0.7372 - loss: 0.5363
Epoch 106/150
804/804  1s 1ms/step - accuracy: 0.7492 - loss: 0.5278
Epoch 107/150
804/804  1s 2ms/step - accuracy: 0.7397 - loss: 0.5378
Epoch 108/150
804/804  2s 1ms/step - accuracy: 0.7434 - loss: 0.5336
Epoch 109/150
804/804  2s 2ms/step - accuracy: 0.7374 - loss: 0.5367
Epoch 110/150
804/804  1s 2ms/step - accuracy: 0.7424 - loss: 0.5340
Epoch 111/150
804/804  2s 2ms/step - accuracy: 0.7419 - loss: 0.5344
Epoch 112/150
804/804  1s 2ms/step - accuracy: 0.7389 - loss: 0.5404
Epoch 113/150
804/804  1s 2ms/step - accuracy: 0.7428 - loss: 0.5312
Epoch 114/150
804/804  3s 2ms/step - accuracy: 0.7458 - loss: 0.5287
Epoch 115/150
804/804  1s 2ms/step - accuracy: 0.7394 - loss: 0.5358
Epoch 116/150
804/804  2s 2ms/step - accuracy: 0.7407 - loss: 0.5339
Epoch 117/150
804/804  1s 2ms/step - accuracy: 0.7401 - loss: 0.5356
Epoch 118/150
804/804  1s 2ms/step - accuracy: 0.7393 - loss: 0.5362
Epoch 119/150
804/804  1s 2ms/step - accuracy: 0.7407 - loss: 0.5379
Epoch 120/150
804/804  1s 2ms/step - accuracy: 0.7432 - loss: 0.5327
Epoch 121/150
804/804  2s 1ms/step - accuracy: 0.7409 - loss: 0.5343
Epoch 122/150
804/804  1s 1ms/step - accuracy: 0.7433 - loss: 0.5314
Epoch 123/150
804/804  1s 2ms/step - accuracy: 0.7387 - loss: 0.5374
Epoch 124/150
804/804  2s 2ms/step - accuracy: 0.7451 - loss: 0.5308
Epoch 125/150
804/804  1s 2ms/step - accuracy: 0.7401 - loss: 0.5356
Epoch 126/150
804/804  1s 1ms/step - accuracy: 0.7424 - loss: 0.5306
Epoch 127/150
804/804  1s 1ms/step - accuracy: 0.7452 - loss: 0.5270
Epoch 128/150
804/804  1s 2ms/step - accuracy: 0.7405 - loss: 0.5340
Epoch 129/150
804/804  1s 2ms/step - accuracy: 0.7385 - loss: 0.5372
Epoch 130/150
804/804  3s 2ms/step - accuracy: 0.7429 - loss: 0.5337
Epoch 131/150
804/804  1s 2ms/step - accuracy: 0.7430 - loss: 0.5339
Epoch 132/150
804/804  2s 1ms/step - accuracy: 0.7430 - loss: 0.5346
Epoch 133/150
804/804  1s 2ms/step - accuracy: 0.7405 - loss: 0.5364
Epoch 134/150
804/804  1s 1ms/step - accuracy: 0.7418 - loss: 0.5348
Epoch 135/150
804/804  1s 2ms/step - accuracy: 0.7430 - loss: 0.5341
Epoch 136/150
804/804  1s 2ms/step - accuracy: 0.7381 - loss: 0.5343
Epoch 137/150
804/804  1s 2ms/step - accuracy: 0.7416 - loss: 0.5317
Epoch 138/150
804/804  2s 2ms/step - accuracy: 0.7401 - loss: 0.5365
Epoch 139/150
804/804  1s 1ms/step - accuracy: 0.7388 - loss: 0.5359
Epoch 140/150
804/804  1s 2ms/step - accuracy: 0.7451 - loss: 0.5344
Epoch 141/150
804/804  2s 1ms/step - accuracy: 0.7412 - loss: 0.5351
Epoch 142/150
804/804  1s 2ms/step - accuracy: 0.7421 - loss: 0.5350
Epoch 143/150
804/804  1s 2ms/step - accuracy: 0.7459 - loss: 0.5304
Epoch 144/150
804/804  1s 2ms/step - accuracy: 0.7411 - loss: 0.5350
Epoch 145/150
804/804  2s 2ms/step - accuracy: 0.7425 - loss: 0.5329
Epoch 146/150
804/804  1s 2ms/step - accuracy: 0.7431 - loss: 0.5328
Epoch 147/150
804/804  2s 1ms/step - accuracy: 0.7440 - loss: 0.5317
Epoch 148/150
804/804  1s 2ms/step - accuracy: 0.7444 - loss: 0.5309
Epoch 149/150
804/804  2s 1ms/step - accuracy: 0.7400 - loss: 0.5334
Epoch 150/150
804/804  2s 2ms/step - accuracy: 0.7457 - loss: 0.5296

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7244 - loss: 0.5551
Loss: 0.5550869703292847, Accuracy: 0.7244315147399902

In [ ]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization_1.h5')
print("Model has been saved to 'AlphabetSoupCharity_Optimization_1.h5'")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model has been saved to 'AlphabetSoupCharity_Optimization_1.h5'

In [40]:
# Download the model file
from google.colab import files
files.download('AlphabetSoupCharity_Optimization_1.h5')