## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
drop_columns = ['EIN', 'NAME', 'ORGANIZATION']
application_drop_columns_df = application_df.drop(columns=drop_columns)
application_drop_columns_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_drop_columns_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
value_counts = application_drop_columns_df['APPLICATION_TYPE'].value_counts()
value_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = value_counts[value_counts < 800].index

# Replace in dataframe
for app in application_types_to_replace:
    application_drop_columns_df['APPLICATION_TYPE'] = application_drop_columns_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_drop_columns_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_value_counts = application_drop_columns_df['CLASSIFICATION'].value_counts()
classification_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
filtered_classification = classification_value_counts[classification_value_counts > 1]
filtered_classification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_value_counts[classification_value_counts < 1500].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_drop_columns_df['CLASSIFICATION'] = application_drop_columns_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_drop_columns_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
application_drop_columns_df.head(50)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,Independent,C1000,ProductDev,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,N,142590,1
5,T3,Independent,C1200,Preservation,1,0,N,5000,1
6,T3,Independent,C1000,Preservation,1,100000-499999,N,31452,1
7,T3,Independent,C2000,Preservation,1,10M-50M,N,7508025,1
8,Other,Independent,C1000,ProductDev,1,1-9999,N,94389,1
9,T5,CompanySponsored,C3000,ProductDev,1,0,N,5000,0
10,T3,Independent,C1200,Preservation,1,25000-99999,N,69656,0
11,T3,Independent,C2000,Preservation,1,100000-499999,N,165593,0
12,T3,CompanySponsored,C1200,Preservation,1,0,N,5000,1
13,T3,Independent,Other,Preservation,1,25000-99999,N,5301,1
14,T3,Independent,C1000,Preservation,1,0,N,5000,1
15,T3,Independent,C1200,Preservation,1,0,N,5000,1
16,T3,Independent,C2000,Preservation,1,0,N,5000,1
17,T3,Independent,C1000,Heathcare,1,50M+,N,86380556,0
18,T3,CompanySponsored,C1000,Preservation,1,0,N,5000,0
19,T3,CompanySponsored,C1000,Preservation,1,100000-499999,N,376109,0
20,T4,Independent,C3000,ProductDev,1,0,N,5000,1
21,T3,Independent,C1200,Preservation,1,0,N,5000,1
22,T3,Independent,Other,Preservation,1,100000-499999,N,318296,0
23,T4,CompanySponsored,C3000,ProductDev,1,0,N,5000,0
24,T3,CompanySponsored,C1200,Preservation,1,0,N,5000,0
25,T4,Independent,C3000,ProductDev,1,0,N,5000,1
26,T3,CompanySponsored,C1000,Preservation,1,0,N,5000,1
27,T3,CompanySponsored,C2000,Preservation,1,25000-99999,N,44004,1
28,T3,CompanySponsored,C2000,Preservation,1,0,N,5000,0
29,T6,Independent,C2000,ProductDev,1,0,N,5000,1
30,T6,Independent,C2000,ProductDev,1,100000-499999,N,323466,1
31,T3,Independent,C1200,Preservation,1,0,N,5000,1
32,Other,Independent,C1000,ProductDev,1,0,N,5000,1
33,T3,CompanySponsored,C1000,Preservation,1,0,N,5000,1
34,T3,Independent,C1000,Preservation,1,0,N,5000,0
35,T3,Independent,C1200,Preservation,1,0,N,5000,0
36,T4,Independent,C1000,ProductDev,1,0,N,5000,1
37,T3,Independent,C1000,Preservation,1,0,N,5000,1
38,Other,Independent,C1000,ProductDev,1,0,N,5000,0
39,T3,Independent,C1000,Preservation,1,25000-99999,N,5000,1
40,T3,Independent,C1000,Preservation,1,25000-99999,N,709815,0
41,Other,Independent,C1000,ProductDev,1,25000-99999,N,1329410,0
42,Other,Independent,C1000,ProductDev,1,0,N,5000,1
43,T3,CompanySponsored,C1000,Preservation,1,0,N,5000,0
44,T3,Independent,Other,Preservation,1,0,N,5000,1
45,T3,Independent,C1000,Preservation,1,0,N,5000,1
46,T3,CompanySponsored,C2000,Preservation,1,0,N,5000,0
47,Other,Independent,C1000,ProductDev,1,0,N,5000,0
48,T3,Independent,Other,Preservation,1,0,N,5000,1
49,T3,Independent,C1000,Preservation,1,0,N,5000,0

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_drop_columns_df, drop_first=True)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_Family/Parent,AFFILIATION_Independent,...,USE_CASE_ProductDev,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,True,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,1,142590,1,False,True,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,False

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_dummies["IS_SUCCESSFUL"].values
X = application_dummies.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 50
hidden_nodes_layer2 = 30
hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.Input(shape=(number_input_features,)))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                             2,480

 dense_1 (Dense)                       (None, 20)                             1,620

 dense_2 (Dense)                       (None, 20)                               420

 dense_3 (Dense)                       (None, 20)                               420

 dense_4 (Dense)                       (None, 1)                                 21

 Total params: 4,961 (19.38 KB)

 Trainable params: 4,961 (19.38 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=120)

Epoch 1/120
804/804  12s 5ms/step - accuracy: 0.7028 - loss: 0.5950
Epoch 2/120
804/804  4s 4ms/step - accuracy: 0.7207 - loss: 0.5731
Epoch 3/120
804/804  4s 3ms/step - accuracy: 0.7292 - loss: 0.5618
Epoch 4/120
804/804  2s 2ms/step - accuracy: 0.7249 - loss: 0.5652
Epoch 5/120
804/804  3s 3ms/step - accuracy: 0.7286 - loss: 0.5654
Epoch 6/120
804/804  2s 2ms/step - accuracy: 0.7257 - loss: 0.5661
Epoch 7/120
804/804  2s 2ms/step - accuracy: 0.7306 - loss: 0.5615
Epoch 8/120
804/804  3s 2ms/step - accuracy: 0.7311 - loss: 0.5611
Epoch 9/120
804/804  1s 2ms/step - accuracy: 0.7295 - loss: 0.5619
Epoch 10/120
804/804  3s 2ms/step - accuracy: 0.7245 - loss: 0.5655
Epoch 11/120
804/804  2s 2ms/step - accuracy: 0.7272 - loss: 0.5609
Epoch 12/120
804/804  2s 2ms/step - accuracy: 0.7270 - loss: 0.5600
Epoch 13/120
804/804  2s 2ms/step - accuracy: 0.7301 - loss: 0.5595
Epoch 14/120
804/804  1s 2ms/step - accuracy: 0.7298 - loss: 0.5600
Epoch 15/120
804/804  1s 2ms/step - accuracy: 0.7276 - loss: 0.5645
Epoch 16/120
804/804  3s 2ms/step - accuracy: 0.7283 - loss: 0.5580
Epoch 17/120
804/804  2s 2ms/step - accuracy: 0.7249 - loss: 0.5665
Epoch 18/120
804/804  3s 2ms/step - accuracy: 0.7284 - loss: 0.5617
Epoch 19/120
804/804  2s 2ms/step - accuracy: 0.7354 - loss: 0.5563
Epoch 20/120
804/804  2s 2ms/step - accuracy: 0.7306 - loss: 0.5599
Epoch 21/120
804/804  2s 2ms/step - accuracy: 0.7332 - loss: 0.5565
Epoch 22/120
804/804  3s 3ms/step - accuracy: 0.7266 - loss: 0.5633
Epoch 23/120
804/804  2s 2ms/step - accuracy: 0.7258 - loss: 0.5652
Epoch 24/120
804/804  3s 2ms/step - accuracy: 0.7271 - loss: 0.5619
Epoch 25/120
804/804  2s 2ms/step - accuracy: 0.7275 - loss: 0.5612
Epoch 26/120
804/804  3s 2ms/step - accuracy: 0.7286 - loss: 0.5614
Epoch 27/120
804/804  3s 3ms/step - accuracy: 0.7330 - loss: 0.5551
Epoch 28/120
804/804  2s 2ms/step - accuracy: 0.7315 - loss: 0.5570
Epoch 29/120
804/804  3s 2ms/step - accuracy: 0.7289 - loss: 0.5591
Epoch 30/120
804/804  3s 2ms/step - accuracy: 0.7305 - loss: 0.5590
Epoch 31/120
804/804  2s 2ms/step - accuracy: 0.7254 - loss: 0.5643
Epoch 32/120
804/804  3s 2ms/step - accuracy: 0.7266 - loss: 0.5622
Epoch 33/120
804/804  2s 3ms/step - accuracy: 0.7220 - loss: 0.5685
Epoch 34/120
804/804  2s 2ms/step - accuracy: 0.7313 - loss: 0.5573
Epoch 35/120
804/804  3s 2ms/step - accuracy: 0.7308 - loss: 0.5605
Epoch 36/120
804/804  3s 2ms/step - accuracy: 0.7301 - loss: 0.5581
Epoch 37/120
804/804  2s 2ms/step - accuracy: 0.7334 - loss: 0.5561
Epoch 38/120
804/804  2s 2ms/step - accuracy: 0.7286 - loss: 0.5605
Epoch 39/120
804/804  3s 2ms/step - accuracy: 0.7262 - loss: 0.5599
Epoch 40/120
804/804  2s 2ms/step - accuracy: 0.7318 - loss: 0.5580
Epoch 41/120
804/804  2s 2ms/step - accuracy: 0.7337 - loss: 0.5561
Epoch 42/120
804/804  2s 2ms/step - accuracy: 0.7247 - loss: 0.5673
Epoch 43/120
804/804  3s 2ms/step - accuracy: 0.7290 - loss: 0.5638
Epoch 44/120
804/804  3s 3ms/step - accuracy: 0.7337 - loss: 0.5547
Epoch 45/120
804/804  2s 2ms/step - accuracy: 0.7295 - loss: 0.5606
Epoch 46/120
804/804  3s 2ms/step - accuracy: 0.7350 - loss: 0.5557
Epoch 47/120
804/804  2s 2ms/step - accuracy: 0.7353 - loss: 0.5545
Epoch 48/120
804/804  2s 2ms/step - accuracy: 0.7306 - loss: 0.5582
Epoch 49/120
804/804  3s 3ms/step - accuracy: 0.7276 - loss: 0.5592
Epoch 50/120
804/804  2s 2ms/step - accuracy: 0.7356 - loss: 0.5527
Epoch 51/120
804/804  2s 2ms/step - accuracy: 0.7292 - loss: 0.5598
Epoch 52/120
804/804  2s 2ms/step - accuracy: 0.7316 - loss: 0.5568
Epoch 53/120
804/804  3s 2ms/step - accuracy: 0.7360 - loss: 0.5530
Epoch 54/120
804/804  3s 2ms/step - accuracy: 0.7364 - loss: 0.5530
Epoch 55/120
804/804  2s 3ms/step - accuracy: 0.7348 - loss: 0.5519
Epoch 56/120
804/804  2s 2ms/step - accuracy: 0.7349 - loss: 0.5520
Epoch 57/120
804/804  3s 2ms/step - accuracy: 0.7276 - loss: 0.5601
Epoch 58/120
804/804  3s 2ms/step - accuracy: 0.7317 - loss: 0.5558
Epoch 59/120
804/804  3s 2ms/step - accuracy: 0.7275 - loss: 0.5567
Epoch 60/120
804/804  3s 3ms/step - accuracy: 0.7306 - loss: 0.5574
Epoch 61/120
804/804  2s 2ms/step - accuracy: 0.7311 - loss: 0.5563
Epoch 62/120
804/804  3s 2ms/step - accuracy: 0.7296 - loss: 0.5555
Epoch 63/120
804/804  2s 2ms/step - accuracy: 0.7323 - loss: 0.5546
Epoch 64/120
804/804  3s 2ms/step - accuracy: 0.7303 - loss: 0.5567
Epoch 65/120
804/804  3s 3ms/step - accuracy: 0.7287 - loss: 0.5600
Epoch 66/120
804/804  2s 2ms/step - accuracy: 0.7305 - loss: 0.5539
Epoch 67/120
804/804  2s 2ms/step - accuracy: 0.7307 - loss: 0.5595
Epoch 68/120
804/804  3s 2ms/step - accuracy: 0.7317 - loss: 0.5562
Epoch 69/120
804/804  3s 2ms/step - accuracy: 0.7280 - loss: 0.5612
Epoch 70/120
804/804  2s 2ms/step - accuracy: 0.7341 - loss: 0.5540
Epoch 71/120
804/804  3s 3ms/step - accuracy: 0.7362 - loss: 0.5496
Epoch 72/120
804/804  2s 2ms/step - accuracy: 0.7311 - loss: 0.5572
Epoch 73/120
804/804  2s 2ms/step - accuracy: 0.7336 - loss: 0.5543
Epoch 74/120
804/804  2s 2ms/step - accuracy: 0.7350 - loss: 0.5517
Epoch 75/120
804/804  2s 2ms/step - accuracy: 0.7324 - loss: 0.5540
Epoch 76/120
804/804  2s 2ms/step - accuracy: 0.7315 - loss: 0.5556
Epoch 77/120
804/804  3s 2ms/step - accuracy: 0.7280 - loss: 0.5606
Epoch 78/120
804/804  2s 2ms/step - accuracy: 0.7312 - loss: 0.5558
Epoch 79/120
804/804  3s 2ms/step - accuracy: 0.7244 - loss: 0.5625
Epoch 80/120
804/804  2s 2ms/step - accuracy: 0.7292 - loss: 0.5585
Epoch 81/120
804/804  3s 2ms/step - accuracy: 0.7311 - loss: 0.5537
Epoch 82/120
804/804  3s 3ms/step - accuracy: 0.7306 - loss: 0.5549
Epoch 83/120
804/804  2s 2ms/step - accuracy: 0.7292 - loss: 0.5578
Epoch 84/120
804/804  3s 2ms/step - accuracy: 0.7284 - loss: 0.5570
Epoch 85/120
804/804  2s 2ms/step - accuracy: 0.7333 - loss: 0.5532
Epoch 86/120
804/804  3s 2ms/step - accuracy: 0.7311 - loss: 0.5546
Epoch 87/120
804/804  2s 3ms/step - accuracy: 0.7303 - loss: 0.5544
Epoch 88/120
804/804  2s 2ms/step - accuracy: 0.7327 - loss: 0.5550
Epoch 89/120
804/804  2s 2ms/step - accuracy: 0.7325 - loss: 0.5546
Epoch 90/120
804/804  3s 2ms/step - accuracy: 0.7319 - loss: 0.5543
Epoch 91/120
804/804  3s 2ms/step - accuracy: 0.7294 - loss: 0.5570
Epoch 92/120
804/804  3s 2ms/step - accuracy: 0.7306 - loss: 0.5581
Epoch 93/120
804/804  2s 2ms/step - accuracy: 0.7304 - loss: 0.5581
Epoch 94/120
804/804  2s 2ms/step - accuracy: 0.7275 - loss: 0.5585
Epoch 95/120
804/804  3s 2ms/step - accuracy: 0.7293 - loss: 0.5579
Epoch 96/120
804/804  3s 2ms/step - accuracy: 0.7325 - loss: 0.5553
Epoch 97/120
804/804  3s 2ms/step - accuracy: 0.7306 - loss: 0.5567
Epoch 98/120
804/804  2s 3ms/step - accuracy: 0.7319 - loss: 0.5582
Epoch 99/120
804/804  2s 2ms/step - accuracy: 0.7280 - loss: 0.5599
Epoch 100/120
804/804  3s 2ms/step - accuracy: 0.7337 - loss: 0.5532
Epoch 101/120
804/804  3s 2ms/step - accuracy: 0.7310 - loss: 0.5557
Epoch 102/120
804/804  2s 2ms/step - accuracy: 0.7328 - loss: 0.5544
Epoch 103/120
804/804  2s 2ms/step - accuracy: 0.7298 - loss: 0.5560
Epoch 104/120
804/804  2s 3ms/step - accuracy: 0.7336 - loss: 0.5517
Epoch 105/120
804/804  2s 2ms/step - accuracy: 0.7351 - loss: 0.5514
Epoch 106/120
804/804  3s 2ms/step - accuracy: 0.7322 - loss: 0.5551
Epoch 107/120
804/804  3s 2ms/step - accuracy: 0.7328 - loss: 0.5536
Epoch 108/120
804/804  2s 2ms/step - accuracy: 0.7337 - loss: 0.5535
Epoch 109/120
804/804  3s 3ms/step - accuracy: 0.7333 - loss: 0.5533
Epoch 110/120
804/804  2s 2ms/step - accuracy: 0.7308 - loss: 0.5557
Epoch 111/120
804/804  3s 2ms/step - accuracy: 0.7316 - loss: 0.5553
Epoch 112/120
804/804  3s 2ms/step - accuracy: 0.7329 - loss: 0.5525
Epoch 113/120
804/804  2s 2ms/step - accuracy: 0.7316 - loss: 0.5540
Epoch 114/120
804/804  3s 2ms/step - accuracy: 0.7346 - loss: 0.5500
Epoch 115/120
804/804  2s 3ms/step - accuracy: 0.7370 - loss: 0.5501
Epoch 116/120
804/804  2s 2ms/step - accuracy: 0.7367 - loss: 0.5492
Epoch 117/120
804/804  3s 2ms/step - accuracy: 0.7278 - loss: 0.5580
Epoch 118/120
804/804  2s 2ms/step - accuracy: 0.7295 - loss: 0.5571
Epoch 119/120
804/804  3s 2ms/step - accuracy: 0.7281 - loss: 0.5577
Epoch 120/120
804/804  3s 3ms/step - accuracy: 0.7307 - loss: 0.5546

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 2ms/step - accuracy: 0.7195 - loss: 0.5663
Loss: 0.566274881362915, Accuracy: 0.7195335030555725

In [17]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization_2.h5')
print("Model has been saved to 'AlphabetSoupCharity_Optimization_2.h5'")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model has been saved to 'AlphabetSoupCharity_Optimization_2.h5'

In [18]:
# Download the model file
from google.colab import files
files.download('AlphabetSoupCharity_Optimization_2.h5')