## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
drop_columns = ['EIN', 'NAME']
application_drop_columns_df = application_df.drop(columns=drop_columns)
application_drop_columns_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
application_drop_columns_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
value_counts = application_drop_columns_df['APPLICATION_TYPE'].value_counts()
value_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = value_counts[value_counts < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_drop_columns_df['APPLICATION_TYPE'] = application_drop_columns_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_drop_columns_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_value_counts = application_drop_columns_df['CLASSIFICATION'].value_counts()
classification_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
filtered_classification = classification_value_counts[classification_value_counts > 1]
filtered_classification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_value_counts[classification_value_counts < 1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_drop_columns_df['CLASSIFICATION'] = application_drop_columns_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_drop_columns_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
application_drop_columns_df.head(50)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,69656,0
11,T3,Independent,C2000,Preservation,Trust,1,100000-499999,N,165593,0
12,T3,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1
13,T3,Independent,Other,Preservation,Trust,1,25000-99999,N,5301,1
14,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
15,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
16,T3,Independent,C2000,Preservation,Trust,1,0,N,5000,1
17,T3,Independent,C1000,Heathcare,Trust,1,50M+,N,86380556,0
18,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
19,T3,CompanySponsored,C1000,Preservation,Trust,1,100000-499999,N,376109,0
20,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
21,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
22,T3,Independent,Other,Preservation,Trust,1,100000-499999,N,318296,0
23,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
24,T3,CompanySponsored,C1200,Preservation,Trust,1,0,N,5000,0
25,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
26,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
27,T3,CompanySponsored,C2000,Preservation,Trust,1,25000-99999,N,44004,1
28,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
29,T6,Independent,C2000,ProductDev,Trust,1,0,N,5000,1
30,T6,Independent,C2000,ProductDev,Trust,1,100000-499999,N,323466,1
31,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
32,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
33,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
34,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,0
35,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,0
36,T4,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
37,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
38,T7,Independent,C1000,ProductDev,Association,1,0,N,5000,0
39,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,5000,1
40,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,709815,0
41,Other,Independent,C1000,ProductDev,Trust,1,25000-99999,N,1329410,0
42,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
43,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
44,T3,Independent,Other,Preservation,Trust,1,0,N,5000,1
45,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
46,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
47,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,0
48,T3,Independent,Other,Preservation,Trust,1,0,N,5000,1
49,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,0

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_drop_columns_df, drop_first=True)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,False,True,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
4,1,142590,1,False,False,True,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False

In [13]:
# Split our preprocessed data into our features and target arrays
y = application_dummies["IS_SUCCESSFUL"].values
X = application_dummies.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.Input(shape=(number_input_features,)))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                             2,960

 dense_1 (Dense)                       (None, 30)                             2,430

 dense_2 (Dense)                       (None, 1)                                 31

 Total params: 5,421 (21.18 KB)

 Trainable params: 5,421 (21.18 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804  3s 2ms/step - accuracy: 0.6910 - loss: 0.5968
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7330 - loss: 0.5508
Epoch 3/100
804/804  3s 2ms/step - accuracy: 0.7295 - loss: 0.5542
Epoch 4/100
804/804  2s 2ms/step - accuracy: 0.7325 - loss: 0.5508
Epoch 5/100
804/804  2s 2ms/step - accuracy: 0.7404 - loss: 0.5431
Epoch 6/100
804/804  2s 2ms/step - accuracy: 0.7311 - loss: 0.5508
Epoch 7/100
804/804  2s 2ms/step - accuracy: 0.7357 - loss: 0.5462
Epoch 8/100
804/804  3s 2ms/step - accuracy: 0.7317 - loss: 0.5523
Epoch 9/100
804/804  3s 2ms/step - accuracy: 0.7370 - loss: 0.5449
Epoch 10/100
804/804  2s 2ms/step - accuracy: 0.7314 - loss: 0.5488
Epoch 11/100
804/804  2s 2ms/step - accuracy: 0.7358 - loss: 0.5450
Epoch 12/100
804/804  2s 2ms/step - accuracy: 0.7323 - loss: 0.5472
Epoch 13/100
804/804  3s 2ms/step - accuracy: 0.7393 - loss: 0.5407
Epoch 14/100
804/804  3s 2ms/step - accuracy: 0.7340 - loss: 0.5467
Epoch 15/100
804/804  3s 3ms/step - accuracy: 0.7338 - loss: 0.5471
Epoch 16/100
804/804  2s 2ms/step - accuracy: 0.7357 - loss: 0.5444
Epoch 17/100
804/804  3s 2ms/step - accuracy: 0.7358 - loss: 0.5450
Epoch 18/100
804/804  2s 2ms/step - accuracy: 0.7390 - loss: 0.5401
Epoch 19/100
804/804  3s 2ms/step - accuracy: 0.7336 - loss: 0.5482
Epoch 20/100
804/804  2s 2ms/step - accuracy: 0.7377 - loss: 0.5440
Epoch 21/100
804/804  3s 2ms/step - accuracy: 0.7350 - loss: 0.5483
Epoch 22/100
804/804  2s 2ms/step - accuracy: 0.7445 - loss: 0.5326
Epoch 23/100
804/804  3s 2ms/step - accuracy: 0.7336 - loss: 0.5439
Epoch 24/100
804/804  2s 2ms/step - accuracy: 0.7422 - loss: 0.5368
Epoch 25/100
804/804  2s 2ms/step - accuracy: 0.7336 - loss: 0.5436
Epoch 26/100
804/804  3s 2ms/step - accuracy: 0.7380 - loss: 0.5402
Epoch 27/100
804/804  2s 2ms/step - accuracy: 0.7419 - loss: 0.5381
Epoch 28/100
804/804  2s 2ms/step - accuracy: 0.7432 - loss: 0.5329
Epoch 29/100
804/804  2s 2ms/step - accuracy: 0.7384 - loss: 0.5417
Epoch 30/100
804/804  2s 2ms/step - accuracy: 0.7368 - loss: 0.5376
Epoch 31/100
804/804  2s 2ms/step - accuracy: 0.7427 - loss: 0.5373
Epoch 32/100
804/804  3s 3ms/step - accuracy: 0.7412 - loss: 0.5379
Epoch 33/100
804/804  2s 2ms/step - accuracy: 0.7398 - loss: 0.5385
Epoch 34/100
804/804  3s 2ms/step - accuracy: 0.7416 - loss: 0.5383
Epoch 35/100
804/804  3s 2ms/step - accuracy: 0.7418 - loss: 0.5364
Epoch 36/100
804/804  3s 2ms/step - accuracy: 0.7393 - loss: 0.5383
Epoch 37/100
804/804  3s 3ms/step - accuracy: 0.7359 - loss: 0.5454
Epoch 38/100
804/804  2s 2ms/step - accuracy: 0.7376 - loss: 0.5432
Epoch 39/100
804/804  2s 2ms/step - accuracy: 0.7433 - loss: 0.5340
Epoch 40/100
804/804  2s 2ms/step - accuracy: 0.7415 - loss: 0.5377
Epoch 41/100
804/804  2s 2ms/step - accuracy: 0.7397 - loss: 0.5401
Epoch 42/100
804/804  3s 3ms/step - accuracy: 0.7451 - loss: 0.5325
Epoch 43/100
804/804  2s 2ms/step - accuracy: 0.7403 - loss: 0.5387
Epoch 44/100
804/804  2s 2ms/step - accuracy: 0.7374 - loss: 0.5445
Epoch 45/100
804/804  3s 2ms/step - accuracy: 0.7418 - loss: 0.5342
Epoch 46/100
804/804  3s 2ms/step - accuracy: 0.7399 - loss: 0.5380
Epoch 47/100
804/804  3s 3ms/step - accuracy: 0.7402 - loss: 0.5369
Epoch 48/100
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5399
Epoch 49/100
804/804  2s 2ms/step - accuracy: 0.7338 - loss: 0.5411
Epoch 50/100
804/804  3s 2ms/step - accuracy: 0.7392 - loss: 0.5381
Epoch 51/100
804/804  3s 2ms/step - accuracy: 0.7394 - loss: 0.5393
Epoch 52/100
804/804  3s 2ms/step - accuracy: 0.7360 - loss: 0.5419
Epoch 53/100
804/804  2s 2ms/step - accuracy: 0.7413 - loss: 0.5367
Epoch 54/100
804/804  2s 2ms/step - accuracy: 0.7406 - loss: 0.5383
Epoch 55/100
804/804  3s 2ms/step - accuracy: 0.7361 - loss: 0.5410
Epoch 56/100
804/804  3s 2ms/step - accuracy: 0.7417 - loss: 0.5362
Epoch 57/100
804/804  3s 3ms/step - accuracy: 0.7383 - loss: 0.5406
Epoch 58/100
804/804  2s 2ms/step - accuracy: 0.7389 - loss: 0.5388
Epoch 59/100
804/804  3s 2ms/step - accuracy: 0.7367 - loss: 0.5377
Epoch 60/100
804/804  3s 2ms/step - accuracy: 0.7472 - loss: 0.5324
Epoch 61/100
804/804  3s 2ms/step - accuracy: 0.7413 - loss: 0.5350
Epoch 62/100
804/804  2s 2ms/step - accuracy: 0.7411 - loss: 0.5357
Epoch 63/100
804/804  2s 3ms/step - accuracy: 0.7425 - loss: 0.5351
Epoch 64/100
804/804  2s 2ms/step - accuracy: 0.7411 - loss: 0.5357
Epoch 65/100
804/804  3s 2ms/step - accuracy: 0.7436 - loss: 0.5321
Epoch 66/100
804/804  3s 2ms/step - accuracy: 0.7387 - loss: 0.5409
Epoch 67/100
804/804  3s 2ms/step - accuracy: 0.7382 - loss: 0.5421
Epoch 68/100
804/804  3s 2ms/step - accuracy: 0.7417 - loss: 0.5342
Epoch 69/100
804/804  2s 2ms/step - accuracy: 0.7358 - loss: 0.5419
Epoch 70/100
804/804  2s 2ms/step - accuracy: 0.7400 - loss: 0.5387
Epoch 71/100
804/804  3s 2ms/step - accuracy: 0.7437 - loss: 0.5339
Epoch 72/100
804/804  2s 2ms/step - accuracy: 0.7447 - loss: 0.5331
Epoch 73/100
804/804  3s 3ms/step - accuracy: 0.7448 - loss: 0.5293
Epoch 74/100
804/804  2s 2ms/step - accuracy: 0.7418 - loss: 0.5363
Epoch 75/100
804/804  2s 2ms/step - accuracy: 0.7421 - loss: 0.5380
Epoch 76/100
804/804  3s 2ms/step - accuracy: 0.7409 - loss: 0.5356
Epoch 77/100
804/804  3s 2ms/step - accuracy: 0.7472 - loss: 0.5262
Epoch 78/100
804/804  3s 3ms/step - accuracy: 0.7421 - loss: 0.5342
Epoch 79/100
804/804  2s 2ms/step - accuracy: 0.7362 - loss: 0.5406
Epoch 80/100
804/804  2s 2ms/step - accuracy: 0.7454 - loss: 0.5350
Epoch 81/100
804/804  3s 2ms/step - accuracy: 0.7408 - loss: 0.5366
Epoch 82/100
804/804  3s 2ms/step - accuracy: 0.7449 - loss: 0.5316
Epoch 83/100
804/804  3s 2ms/step - accuracy: 0.7397 - loss: 0.5354
Epoch 84/100
804/804  3s 2ms/step - accuracy: 0.7396 - loss: 0.5371
Epoch 85/100
804/804  2s 2ms/step - accuracy: 0.7454 - loss: 0.5300
Epoch 86/100
804/804  3s 2ms/step - accuracy: 0.7411 - loss: 0.5325
Epoch 87/100
804/804  3s 2ms/step - accuracy: 0.7412 - loss: 0.5370
Epoch 88/100
804/804  3s 2ms/step - accuracy: 0.7401 - loss: 0.5334
Epoch 89/100
804/804  2s 2ms/step - accuracy: 0.7366 - loss: 0.5412
Epoch 90/100
804/804  2s 2ms/step - accuracy: 0.7405 - loss: 0.5342
Epoch 91/100
804/804  3s 2ms/step - accuracy: 0.7397 - loss: 0.5339
Epoch 92/100
804/804  2s 2ms/step - accuracy: 0.7454 - loss: 0.5305
Epoch 93/100
804/804  3s 2ms/step - accuracy: 0.7365 - loss: 0.5380
Epoch 94/100
804/804  3s 2ms/step - accuracy: 0.7430 - loss: 0.5347
Epoch 95/100
804/804  2s 2ms/step - accuracy: 0.7400 - loss: 0.5385
Epoch 96/100
804/804  2s 2ms/step - accuracy: 0.7427 - loss: 0.5334
Epoch 97/100
804/804  3s 2ms/step - accuracy: 0.7414 - loss: 0.5346
Epoch 98/100
804/804  2s 2ms/step - accuracy: 0.7374 - loss: 0.5362
Epoch 99/100
804/804  2s 2ms/step - accuracy: 0.7400 - loss: 0.5367
Epoch 100/100
804/804  2s 3ms/step - accuracy: 0.7430 - loss: 0.5339

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 2ms/step - accuracy: 0.7261 - loss: 0.5545
Loss: 0.5545058250427246, Accuracy: 0.726064145565033

In [19]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')
print("Model has been saved to 'AlphabetSoupCharity.h5'")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model has been saved to 'AlphabetSoupCharity.h5'

In [20]:
# Download the model file
from google.colab import files
files.download('AlphabetSoupCharity.h5')